<div class="error_page">
	<h1>Shhh he is sleeping!</h1>
	<p>
		<%= image_tag 'hamster.jpg', :width => 300 %>
	</p>
	<p>
		We are working on replacing the hamster running our servers. 
	</p>
	<p>
		Please try to place your order again, and make sure you click on the sandwich you want.
	</p>
	<p>
		<%= link_to 'New Order', new_order_path, class:  "btn btn-primary" %>
	</p>
</div>