<div class="error_page">
	<h1>Please excuse the interruption</h1>
	<p>
		<%= image_tag 'hamster.jpg', :width => 300 %>
	</p>
	<p>
		We are working on replacing the hamster running our servers. Please try to place your order again.
	</p>
	<p>
		<%= link_to 'New Order', new_order_path, class:  "btn btn-primary" %>
	</p>
</div>