<div class="success_page">
	<h1 id="element">
		<!-- writeText goes here -->
	</h1>
	<canvas height="600" width="940" id="myCanvas"></canvas>
</div>
<script type="text/javascript">
	var writeText = "Your sandwich will be delivered soon!";
</script>