<p>Please sir,</p>
<br>
<p>
	Could you make <%= @user.email %> a sandwich? <br>
	<%= image_tag attachments['sandwich.jpg'].url %><br>
	They want a <%= @order.sandwich.title %> sandwich please! <br>
	Thank you!
</p>
<br>
Quote of the day: <%= @random_quote %>
