// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$error_red: #fd9595;

.error_page {
	padding: 10px;
	img, p, a {
		text-align: center;
	}

	background: $error_red;
}